<div class="span12">
    <p>&nbsp;</p>
    <div class="gdg_loading" ng-show="loading"></div>
    <div>
        <h1 class="span12">Women Techmakers - Sudbury</h1>
        <p>Join us on <strong>Friday, March 14, 2014</strong> from 1:00-4:00 in
           <strong>FA-358</strong> (Fraser Building, Laurentian University) for
           the Sudbury edition of the Women Techmakers series!
        </p>
        <h2>Featured events</h2>
        <ul>
            <li>Icebreaker</li>
            <li>Introduction to programming with Go</li>
            <li>Tech demo by the Laurentian University <em>Go Eng Girl</em> group</li>
            <li>Panel discussion: women in technology</li>
        </ul>
        <h2>Admission is free!</h2>
        <p>But we would like to know how many people to plan for, so please
           respond to <a href="https://plus.google.com/events/c7tcoe0ugp5bttq80qp1g5d0ubk">our
           invitation</a>
        </p>
        <p>Our events adhere to the <a href="#conduct">GDG Sudbury Code of Conduct</a></p>
    </div>
    <hr>
</div>
